body {
    display: flex;
    background-color: whitesmoke;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100vh;
}
.board{
    display:flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 900px;
    height: 500px;
    background-color: g;
    padding: 5px;
    box-sizing: border-box;
}

.simon {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.btn-start{
    font-size: 48px;
    font-weight: bold;
    border: 1px solid blue;
    border-radius: 25px;
    width: 480px;
    height: 200px;
    justify-self: center;
    align-self: center;
    z-index: 1;
    position: fixed;
    opacity: 0.85;
}
.userTbl {
    background-color: gray;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    border: 2px solid black;
}

.tablero {
    background-color: lightgray;
    border-radius: 5px;
    display: grid;
    grid-template-rows: .2fr 1fr;
    gap: 20px;
    width: 80%;
    height: 80%;
    padding: 20px;
}

.pad {
    background-color: darkgrey;
    opacity: 1;
    display: grid;
    gap: 5px;
    padding: 5px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    --align-self: flex-end;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.num {
    border: 3px solid black;
    border-radius: 5px;
    background-color: gray;
    box-shadow: 5px;
}

.level {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: grey;
    border: 5px solid black;
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
}

.empty {
    background-color: black;
    border-radius: 0px;
    border: 2px solid black;
}

.ligthIt {
    background-color: cornflowerblue;
}

.indicator .ligthIt {
    background-color: aquamarine;
    border: 5px solid green;
}

.simon .tablero .pad {
    border: 3px solid whitesmoke;
    border-radius: 5px;
}
.indicator .wrong {
    background-color: red;
    border: 5px solid black;
}

.hide{
    display: none;
}